<!DOCTYPE html>
<html>
  <head>
    <title>Albums:</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <main>
      <h1>album {{albums['Title']}}</h1>
      <table class="content-table">
        <thead>
          <tr>
            <th>canciones :</th>
          </tr>
        </thead>
        <tbody>
          <ul>
            {% for n in canciones %}
            <tr>
              <td>
                <a href="{{url_for('track.detalle', id=n['TrackId'])}}"
                  >{{ n['Name']}}</a
                >
              </td>
            </tr>
            {% endfor %}
          </ul>
        </tbody>
      </table>
    </main>
  </body>
</html>
