<!DOCTYPE html>
<html>
  <head>
    <title>Musica</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <main>
      <h1>Musica y Artista</h1>
      <table class="content-table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Artista</th>
          </tr>
        </thead>
        <tbody>
          <ul>
            {% for m in musicas %}
            <tr>
              <td>{{ m['name']}}</td>
              <td>{{ m['Artista']}}</td>
            </tr>
            {% endfor %}
          </ul>
        </tbody>
      </table>
    </main>
  </body>
</html>

<table class="content-table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Artista</th>
    </tr>
  </thead>
  <tbody>
    <ul>
      {% for m in musicas %}
      <tr>
        <td>{{ m['name']}}</td>
        <td>{{ m['Artista']}}</td>
      </tr>
      {% endfor %}
    </ul>
  </tbody>
</table>
________
<head>
  <title>Albums</title>
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='style.css') }}"
  />
</head>
<body>
  <h1>Albums</h1>
</body>
